.container{
    height: 700px;
   
    position: relative;
    
    background-color: rosybrown;
}
.row{
    position: relative;
    top: 50%;
    bottom: 50%;
}
.box1{
    background-color: aqua;
    opacity: 0.7;
    height: 300px;
}
.box2{
    background-color: blueviolet;
    opacity: 0.8;
    height: 300px;
}